.caret{
	color:#989898;
}
.caret:hover{
	cursor:pointer;
}


.avatar-card{
	position: absolute;
	right: 0;
	padding: 10px;
	width: 226px;
	top: 15px;
	
	.burger{
		display:none;
		transition:.4s;
		color:#95a5a6;
		&:hover{
			cursor:pointer;
			color:#444444;
		}
	}
	img{
		width: 59px;
		padding: 3px;
		border: 1px solid #69bedc;
		float:right;
	}
	.user-name{
		font-weight: bold;
		line-height: 4.5em;
		padding-right: 15px;
		float: right;
	}
}